@font-face{
    font-family: "Abbeyline" ;
    src : url('Abbeyline.ttf') ;
}



body {

    margin: 10px 0 ;
    padding:0;
    text-align: center ;
    font: 1em "Trebuchet MS", helvetica, sans-serif ;
    background-color: #e6e6e6;
}


.main_content{
    width: 80%;
    flex-direction: column;
    margin:5% 9% 5% 9%;


}

#presentation{
    padding: 3em;
    margin:auto;
    margin-top: 3%;
    position: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
    width: 80%;
    height: 20%;
}

#map_frame{
    padding: 3em;
    margin: auto;
    position: center;
    background-color: rgba(0,0,0,0.6);
    width: 80%;
    height: auto;
}

.map__img{
    margin: auto;
    padding-top: 5%;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    #presentation{
        padding: 4em;
        margin-left: 5%;
        position: center;
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        color: #FFF;
        width: 50%;
        height: 10%;
    }
    #border_map{
        display: none;
    }
}
