/*-----Footer------*/

footer 
{
    width: 100% ;
    background-image: url("../imgs/footer_bg.png");
    padding : 20px 0 ;
    position: absolute;
    margin-top: 40px;
    /*margin-bottom: -5%;*/
}

#logo_footer{
    position: absolute;
    left: 10px;
    width: 20%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 4px double white;
}


footer a{
    color: white;
}

.contact 
{
    color: white ; 
}

.contact nav{
    text-align: center;
}

.contact nav ul {
    margin-top: 20px;
}

.contact nav ul li {
    display: inline-block;
    margin: 20px ;
    list-style: none ;
}

.ecole
{
    color: white ;
    text-align: center;
}