/*-----Footer------*/

footer 
{
    width: 100% ;
    background-image: url("../imgs/footer_bg.png");
    padding : 10px 0 ;
    position: relative;
    bottom: 0;
    margin-top: 40px;
    margin-bottom: -5%;
}

footer a{
    color: white;
}


#logo_footer{
    position: absolute;
    left: 10px;
    width: 10%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 4px double white;
}

.contact 
{
    color: white ; 
}

.contact nav{
    text-align: center;
}

.contact nav ul {
    margin-top: 20px;
}

.contact nav ul li {
    display: inline-block;
    margin: 20px ;
    list-style: none ;
}

.ecole
{
    color: white ;
    text-align: center;
}

@media screen and (max-width: 600px) { /* Changement de design du footer pour tout écran de largeur inférieure à 600px */
    footer
    {
        width: 100% ;
        background-color : grey;
        padding : 30px 0px ;
        position: relative;
        margin-top: 40px;
        margin-left: -8px;
        bottom: 0;
    }
}
