 @font-face{
  font-family: "Abbeyline" ;
  src : url('Abbeyline.ttf') ; 
 }
 
 
 body {

	margin: 10px 0 ;
	padding:0;
 text-align: center ;
	font: 1em "Trebuchet MS", helvetica, sans-serif ;

}

 .Menu_lateral{
     display: flex;
 }

 .Menu_lateral a{
     color: white;
 }

 #et2{
     margin-left: 5%;
 }

 #et3{
     margin-left: 5%;
 }

 #et4{
     margin-left: 5%;
 }

 #et5{
     margin-left: 5%;
 }

 #et6{
     margin-left: 5%;
 }

.container2 
{
  width:  80%;
  margin: 0 auto ;
  text-align: justify;
  border : 2px solid #fff;
}

h1
{
 font-family : sans-serif ;
 font-size: 40px ; 
}
h2
{
 border: groove ;
 font-style: oblique;
}


pre
{
  overflow: auto ;
}

<!--[if IE]>
<style type="text/css">
html pre
{
  width: 636px ;
}
</style>
<![endif]-->
 
 
 #menu
 {
  margin : 0px ;
  padding : 0px ;
  list-style: none ; 
  
 }
 h1
 {
  font-family: arial, Abbeyline ; 
 }
 
 #menu li {
  float: left ;
  width: 200px ;
  height: 40px ;
  background-color: black ;
 /*opacity: 0.7 ;*/
  text-align: center ;
  font-size: 20px ;
  line-height:  40px ; 
 }
 
 #menu li a {
  text-decoration : blink;
  color : white ; 
  display : inline-block ; 
  
 }
 
 #menu li a:hover {
  background-color: green ; 
 }
 
 footer
 {
 position: relative ; 
 }
 
 .test1
 {
  width: 20%;
  height: 20% ;
 }
 
 #etape1
 {
 box-sizing: border-box;
	width: 80%;
 min-height: 300px;

	font-family: sans-serif;
	font-size: 1em;
	color: #333;
 }
 
 .clearfix{
	margin: 0, padding 0;
	width: 0; height: 0;
}
.test
{
  width: 30%;
  height: 60% ;
  float: left ; 
}
.texte
{
  text-align: justify;
  float : none ; 
}


  

