.contact {
    display: block;
    border-width: initial;
    margin-top: 40px;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.6);
}

.contact h1 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
    text-align: center;
    position: relative;
}

.contact-form {
    margin-left: 1em;
    margin-right: 1em;
    position: center;
    justify-content: center;
}

.contact-form input {
    position: center;
    font-size: 15;
    padding: 6px;
    margin: 4px;
    width: 100%;
}