/*-----Footer------*/

footer 
{
    width: 100% ;
    background-color : grey;
    padding : 20px 0px ;
    position: relative;
    margin-top: 40px;
    bottom: 0px;
}
nav 
{
    float: left ; 
}
nav ul 
{
    margin-top: 73px ;
}
nav ul li {
    display: inline-block; 
    margin-left: 20px ; 
    list-style: none ; 
}

.ecole
{
    color: white ;
    text-align: center;  
}
.contact 
{
    color: white ; 
}
