.map__img {
    width: 70%;
    display: block;
    margin: auto;
    border-style: double;
    border-color: darkslategrey;
    border-width: 5px;
    background-color: grey;
}

.map__img path{
    fill: lightgrey;
    stroke: white;
    stroke-width: 2px;
    transition: fill 0.3s;
}


.map__img path:hover{
    fill: blue;
}