/* Main elements */

body {
    padding-bottom: 100px;
}

#main_wrapper {
    margin: 200px 5% 100px 5%;
}

article img {
    width: 100%;
    max-width: 700px;
}

/* Header */

header {
    position: relative;
    opacity: 1;
    height: 120px;
    background-color: #4F4D50;
    background-image: none;
}

#main_title {
    position: absolute;
    top: 0;
    left: 50%;
}

#header_menu {
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
}

#logo img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%);
}

nav ul {
    flex-direction: column;
}

nav li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

header nav a {
    color: white;
}

header nav a:hover {
    border-bottom: none;
}

/* Bloc func */

.bloc_func {
    border: none;
    padding: 0 0 0 5px;
    margin: 0;
    border-left: 7px solid #696969;
}

.bloc_func table {
    border-left: none;
    margin: 0 0 0 5px;
}

.bloc_func th {
    width: 8em;
    font-size: .8em;
    background: none;
    text-align: left;
}

.bloc_func td {
    padding-left: 5px;
}

.com_func {
    margin: 0 0 0 5px;
}

/* Sidenav */

#sidenav {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: .65em;
    justify-content: flex-start;
    width: auto;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0;
    border-bottom: 3px solid #760001;
}

#sidenav a:hover {
    border-bottom: 2px solid #760001;
}

#sidenav ul {
    list-style-type: none;
}

/* Footer */

footer {
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}