@font-face{
    font-family: "Abbeyline" ;
    src : url('Abbeyline.ttf') ;
}

body {
    margin: 10px 0 ;
    padding:0;
    text-align: center ;
    font: 1em "Trebuchet MS", helvetica, sans-serif ;
}

#main_content{
    margin-bottom: 20%;
    margin-top: 5%;
}

#presentation{
    padding: 3em;
    margin: 0 15% 1% 15%;
    width: 70%;
    background-color: rgba(0,0,0,0.6);
    color: #FFF;

}

#map_frame{
    padding: 3em;
    margin: 0 15% 0 15%;
    width: 70%;
    height: auto;
    background-color: rgba(0,0,0,0.6);
}

.map__img{
    padding-top: 5%;
    width: 80%;
}

@media screen and (max-width: 1000px) { /* Adaptation du texte et disparition de la map pour
                                        tous les écrans de largeur inférieure à 1000px */
    #presentation{
        padding: 4em;
        margin-left: 5%;
        position: center;
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        color: #FFF;
        width: 50%;
        height: 10%;
    }
    #map_frame{
        display: none;
    }
}
